form {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.login-btn {
    background: #C6081B;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 10px;
}

.login-btn:hover {
    background: #bf1650;
    transition: 0.3s all;
}